* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; 
  
}
html, body {
  height: 100%;  
  overflow-x: hidden; /* Prevent horizontal overflow */
  line-height: 1.6;  
}
body{
  background-image: var(--bg-image);
  background-color: var(--bg-fb);  /*fallback color*/
  background-size: 150% 150%;
  background-attachment: fixed; 
  background-repeat: no-repeat;
  font-family: 'Lora', serif;
}
.container-fluid, footer{ 
  /* color: var(--txtColor); */
  width: 90%; 
  /* border: 2px solid black;  */
  margin: 0px auto ;
  padding: 20px; 

} 
ul li{
  list-style: none;
}

img {
  width: 150px; 
  height:150px; 
  object-fit: cover;
  /* border: 3px solid var(--proj-img-border); */
  border-radius: 8px;
  display: block;
  margin: 0 auto;
} 


